.plantImage{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.checkoutWrapper{
    width: 85%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -70px;
    background-color: white;
    padding: 50px;

}

.tableCheckout{
    object-fit: contain;
    width: 100%;
    text-align: center;
}

.tableWidth{
    width: 150px;
}

.pCheckout{
    display: inline
}

.thWidth{
    width: 250px;
}

.cartComponentBtn{
    text-decoration: none;
    color: #083900;
}
.cartComponentBtn2{
    text-decoration: none;
    color: white;
}

.cartButtons{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}



.paypalWrapper{
    width: 70%;
    margin: auto;
}

.paypalComponent{
    width: 100%;
}