.nav{
    color: white;
    text-decoration: none;
    z-index: 10;
}

.navMob{
    color: #083900;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

.titleNav{
    color:white;
    font-weight: bold;    
}

.navSpanTittle{
    color: orange;
    font-weight: bold;
}

.signOutBtn{
    background-color: white;
    color: #083900;
    border: none;
    margin: 8px;
    font-weight: bold;
}

.profileUrlnav{
    width: 40px;
    height: 40px;
    border-radius: 360px;
}

.iconNav{
    color: white;
}

.appbar{
    z-index: 10;
}