.heroBlogPage{
    background: linear-gradient(160deg, #0000008a 0%, #2626265b 100%), url(../../../public/img/heroBlog.jpg) no-repeat center center;
    background-size: cover;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    z-index: -10;
}

@media (max-width: 480px) {
    .tittleh2BlogPage {
        font-size: 1.5rem !important;
    }
}
    
    .tittleh2BlogPage{
        color: white;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.284);
        font-size: 40px;
        text-align: center;
        margin: 10px;
    }