.wrapperShop {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    margin-top: 24px;
}

.h3Shop {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.wrapperMediumSize {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}